<%= simple_form_for(welcome_contact_path) do |c|%>
  <%= c.error_notification %>
  
<script type="text/javascript">
  window.onload = function() {
  document.getElementById("nome").focus();
}
</script>

<div>
  <h1 style="margin-left: 460px;">
      Fale conosco!  
  </h1>
</div>
  
  <div class="pwhite">

    <div style="margin-left: -280px; margin-top: -130px">
          <%= c.label :name, "Nome*", class: "productlabels", id: 'name'%>
          <%= c.text_field :name, required: true, autofocus: true, class: "wpcf7"%>
    </div>
  
    <br>
    <br>

    <div style="margin-left: -280px; margin-top: -80px">
          <%= c.label :email, 'Email*', class: "productlabels"%>
          <br>
          <%= c.text_field :email, required: true, clickable: true, class: "wpcf7"%>
    </div>

    <br>
    <br>

    <div style="margin-left:-280px; margin-top: -80px">
          <%= c.label :message, 'Mensagem*', class: 'productlabels' %>
          <br>
          <br>
          <br>
          <%= c.text_area :message, required: true, class: "wpcf7-text wpcf7-validates-as-required required=true" %>
    </div>
    </p> 

    
    <div style="margin-left: -180px; margin-top: 20px; margin-bottom: -100px;">
     <%= c.submit "Enviar", class: "but" %>
    </div>

  </div>

  <% end %>