<!DOCTYPE html>
<html>
<head>
  <title>Jlk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div>
    <nav>
  <ul>
    <li><%= link_to "Home", welcome_home_path%></li>
    <li><%= link_to "Missão", welcome_mission_path%></li>
    <li><%= link_to "Quem Somos", welcome_partners_path%></li>
    <li><%= link_to "Produtos", welcome_products_path%></li>
    <li><%= link_to "Contato", welcome_contact_path%></li>
  </ul>
</nav>
  </div>
</head>

<body>

  <%= begin %> 

  <%require 'rubygems'
    require 'serialport' # use Kernel::require on windows, works better.  

 #params for serial port  
 port_str = "/dev/ttyACM0"  #may be different for you
 baud_rate = 9600
 data_bits = 8
 stop_bits = 1
 parity = SerialPort::NONE

 sp = SerialPort.new(port_str, baud_rate, data_bits, stop_bits, parity)

 #just read forever  
 while true do
   sp_char = sp.getc
   if sp_char
     printf("%c", sp_char)
   end
  end
 <%= end %>


  <%= yield %>

</body>
</html>
